<html>
<head>
    <title>Task Server Manager</title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="Home.js"></script>
    <link rel="stylesheet" type="text/css" href="Home.css">
</head>
<body>
    <div id="boxhead">
        <p id="head">Socket Server</p>
    </div>
    <div>
        <div id="left">
            <div class="boxtitle">
                <p class="title">User</p>
            </div>
            <div id="listUser">
                <ul class="userID-list">
                    
                </ul>
            </div>
        </div>
        <div id="center">
            <div id="log-list">
                <ul class="log">
                    
                </ul>
            </div>
        </div>
        <div id="right">
            <div class="boxtitle">
                <p class="title">Task</p>
            </div>
            
            <div id="listCV"></div>
        </div>
    </div>
    
    <div style="height: 100px;"></div>
</body>
</html>